<div class="tweets">
<%= form_with(model: @tweet) do |form|%>
<%= form.text_area :tweeet,class:"form-control" ,placeholder:"What's happening?"%>

<div id="tweet_btn">
<%= button_to "Tweet" ,type:"submit"%>
</div>

<%end%>
</div>