<div class="column is-one-quater">
<nav class="panel">

<p class="panel-heading">Trends for you</p>
</p>
<a class="panel-block">Fire in Americal schools</a>
<a class="panel-block">Exams are released</a>
<a class="panel-block">I was in love -says Juliet</a>
<a class="panel-block">Happy hours</a>

</nav>

<%= render "toFollow"%>
</div>