<div class="column  is-one-fifth ">

</div>


<% if user_signed_in?%>
<div id="tform">
<%= render partial: "tweets/form" ,locals: {tweet:Tweet.new} %>
</div>

<% end %>
<% if @tweets.empty?%>
<p><%= @notweet%></p>
<%end%>

<% @tweets.each do |tweet| %>
<div id="<%=dom_id tweet%>">

<%= render partial: "tweet",locals:{tweet:tweet} %>
</div>
<% end %>

