
<div class="container">
<h3> show tweet</h3>

<%= render partial:  "tweets/showTweet", locals: { tweet: @tweet }%>
  <%= turbo_frame_tag "#{dom_id(@tweet)}_comments" do %>

<%= render partial:  "comments/comments", locals: { comments: @comments }%>
    <% end %>


</div>