/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 @import "bulma";
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";
@import "bootstrap";
@import "font-awesome";

body {
    color: wheat;
    
}
#del_btn{
    color: red;
}

#tweet_btn >button{
  background-color: blue;  
  border: none;
  color: white;
  border-radius:10% ;

  margin: 10px 20px 10px 20px;
  justify-self:end;
   
}
#del{
border: none;
background-color: white;
}
a {
    text-decoration: none;
    font-style: italic;
    font-size: small;
}


.navbar-toggler span {
    color: white;
}

#navbarNav {

    color: rgb(49, 0, 128);
    position: absolute;
    right: 20px;
    top: 5px;

}

.image {
    border-radius: 40%;

    img {
        border-radius: 40%;

    }
}

.navbar-brand {
    color: white;
}